In [63]:
## importing pandas
import pandas as pd

In [64]:
data=pd.read_csv('dataset.csv',sep='\t')

In [65]:
data

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
...,...,...
5566,spam,This is the 2nd time we have tried 2 contact u...
5567,ham,Will ü b going to esplanade fr home?
5568,ham,"Pity, * was in mood for that. So...any other s..."
5569,ham,The guy did some bitching but I acted like i'd...
5570,ham,Rofl. Its true to its name

In [66]:
data.columns=['label','message']

In [67]:
data

     label                                            message
0      ham                      Ok lar... Joking wif u oni...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  U dun say so early hor... U c already then say...
3      ham  Nah I don't think he goes to usf, he lives aro...
4     spam  FreeMsg Hey there darling it's been 3 week's n...
...    ...                                                ...
5566  spam  This is the 2nd time we have tried 2 contact u...
5567   ham               Will ü b going to esplanade fr home?
5568   ham  Pity, * was in mood for that. So...any other s...
5569   ham  The guy did some bitching but I acted like i'd...
5570   ham                         Rofl. Its true to its name

[5571 rows x 2 columns]

In [68]:
data

     label                                            message
0      ham                      Ok lar... Joking wif u oni...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  U dun say so early hor... U c already then say...
3      ham  Nah I don't think he goes to usf, he lives aro...
4     spam  FreeMsg Hey there darling it's been 3 week's n...
...    ...                                                ...
5566  spam  This is the 2nd time we have tried 2 contact u...
5567   ham               Will ü b going to esplanade fr home?
5568   ham  Pity, * was in mood for that. So...any other s...
5569   ham  The guy did some bitching but I acted like i'd...
5570   ham                         Rofl. Its true to its name

[5571 rows x 2 columns]

In [69]:
## data cleaning and pre-processing

import re  ## importing regular expressions...very useful in cleaning the text
import nltk ## natural language toolkit

In [70]:
from nltk.corpus import stopwords  ## stop words are necessary to remove...coz..those words doesn't hold any weightage.
from nltk.stem import PorterStemmer ## for stemming

In [71]:
corpus=[] ## created an empty corpus..so that..final data can be added here...
ps=PorterStemmer()

In [72]:
for i in range(0,len(data)):
    review=re.sub('[^a-zA-Z]',' ',data['message'][i]) ## cleaned the data
    review=review.lower() ## lowered the text
    review=review.split()  ## tokenized the review or data
    review=[ps.stem(word) for word in review if not word in stopwords.words('english')]
    review=' '.join(review)   
    corpus.append(review)

In [73]:
len(corpus)

5571

In [102]:
##bag of words model
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=4000)
X=cv.fit_transform(corpus).toarray()

In [103]:
X ## independent values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [104]:
X.shape

(5571, 4000)

In [105]:
## dependent values or my target
## instead of ham or spam,...we name it as 0 or 1 respectively for ham and spam
y=pd.get_dummies(data['label'])

In [106]:
y

      ham  spam
0       1     0
1       0     1
2       1     0
3       1     0
4       0     1
...   ...   ...
5566    0     1
5567    1     0
5568    1     0
5569    1     0
5570    1     0

[5571 rows x 2 columns]

In [107]:
y=y.iloc[:,1].values

In [108]:
y  ## 1 for spam and 0 for ham

array([0, 1, 0, ..., 0, 0, 0], dtype=uint8)

In [109]:
## train test splitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20, random_state=0)

In [110]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [111]:
## prediction
pred=model.predict(X_test)

In [112]:
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [113]:
## forming confusion matrix
from sklearn.metrics import confusion_matrix
cn=confusion_matrix(y_test,pred)

In [114]:
cn

array([[932,  11],
       [  8, 164]], dtype=int64)

In [115]:
## finding accuracy
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,pred)

In [116]:
print(accuracy) ## printing the accuracy

0.9829596412556054

In [118]:
print('yoo....we achieved 98.29% of accuracy')

yoo....we achieved 98.29% of accuracy